:root {
  --brandText: #143f3d;
}

.form__quote-button.btn-primary {
  background-color: var(--brandText);
  border-color: #143f3d;
  padding: 0.75em 1em;
}

.form__quote-button.btn-primary:hover,
.form__quote-button.btn-primary:not(:disabled):not(.disabled):active,
.form__quote-button.btn-primary:focus {
  background-color: var(--brandText);
  border-color: var(--brandText);
}

th {
  color: #999;
  font-weight: 500;
  text-transform: uppercase;
  width: 16.667%;
}
